.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(2vw,24px);
    font-weight: bold;
}

.food-display-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.food-item{
    width: 270px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 8px  8px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item-image{
    width: 100%;
    height: 240px;
    border-radius: 15px 15px 0px 0px;
}
.food-item-info{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: bold;
}


.food-item-name-rating img{
    width: 70px;
}

.food-item-desc{
    color: #676767;
    font-size: 14px;
}

.food-item-price{
    color: rgb(245, 56, 23);
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
}
.food-item-img-container{
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}